.header {
  padding: 15px 20px; /* Top-Botton -> 15px, Left-Right -> 20px */

  display: flex;
  justify-content: space-evenly; /* Distribute items evenly. Items have equal space around them */

  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75); /* h-offset, v-offset, blur radius, spread-radius */

  position: sticky; /* element will always be visible even if we try to scroll the container */
  z-index: 100; /* determines stack-level */
  top: 0; /* When position is set to sticky, the top property is used to compute the sticky-constraint rectangle */
}

                                                              /* HEADER-LEFT */

.header__left {
  display: flex;
  justify-content: space-evenly;
}

.header__left > img {
  height: 40px; 
  margin-right: 10px;
}

.header__input {
  display: flex;
  align-items: center; /* aligns items centerally along the vertical axis */

  background-color: #eff2f5; 
  border-radius: 999px;
  padding: 10px;
}

.header__input > input {
  outline-width: 0;
  background-color: transparent;
  border: none;
}

                                                             /* HEADER-MIDDLE */
.header__middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__option {
  display: flex;
  align-items: center;

  padding: 0 5%;

  cursor: pointer;
}

.header__option > .MuiSvgIcon-root {
  color: gray;
}

.header__option--active > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__option--active {
  border-bottom: 4px solid #2e81f4;
}

.header__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  border-bottom: none;
}

.header__option:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

                                                             /* HEADER-RIGHT */
.header__right {
  display: flex;
}                                                       

.header__info {
  display: flex;
  align-items: center;
}

.header__info > h4 {
  margin-left: 10px;
}